<h1>Add Peep</h1>

<div id="new-peep">
	<form action="/peeps" method="post">
		<input type="text" name="message" placeholder="Peep message">
		<input type="submit" value="Add peep" class="button">
	</form>
</div>