<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="wrapper">
		<%= partial :header %>
		<%= partial :flash %>
		<div id="container">
			<%= yield %>
		</div>
    <div class="push"></div>
  </div>
  <div class="footer">		
		<%= partial :footer %>
  </div>
</body>
</html>